/*
Theme Name: Onepix
*/

.homepage__content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fix menu wrap for mobile devices */
@media screen and (max-width: 400px){
	#wpadminbar #wp-admin-bar-customize>.ab-item, #wpadminbar #wp-admin-bar-edit>.ab-item, #wpadminbar #wp-admin-bar-my-account>.ab-item, #wpadminbar #wp-admin-bar-my-sites>.ab-item, #wpadminbar #wp-admin-bar-site-name>.ab-item{
		width: 42px;
	}
}