* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="button"] {
  border-radius: 0 !important; }

ul, ol, dl {
  margin-left: 0;
  margin-bottom: 0; }

a {
  color: #364052; }
  a:hover {
    color: #090909; }

#wpwrap {
  background: #F2F4F6; }

#wpcontent {
  z-index: 500; }
  #wpcontent #wpbody #wpbody-content {
    padding-bottom: 0; }
    #wpcontent #wpbody #wpbody-content > * {
      margin-left: 40px; }
    #wpcontent #wpbody #wpbody-content .wrap {
      margin: 44px 0 0;
      padding: 25px 40px 65px;
      background: #F2F4F6; }
      #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper {
        width: 100%;
        margin-left: -40px;
        margin-top: -70px;
        margin-bottom: 25px;
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
        background: white;
        border-bottom: 0; }
        #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab {
          margin: 0;
          padding: 0 12px 6px;
          border: none;
          background: none; }
          #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab.nav-tab-active, #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper .nav-tab:hover {
            border-bottom: 3px solid #4D5591;
            background: transparent; }

#wpfooter {
  margin-left: 220px; }

#message {
  margin: 15px 0;
  border: thin solid #A1ACBF; }

.updated {
  border-left: 4px solid #7ad03a; }

.update-nag {
  display: none; }

.update-plugins {
  width: 5px;
  height: 5px;
  border-radius: 100% !important;
  vertical-align: middle !important;
  margin: 0 !important;
  margin-left: 5px !important; }

.wp-list-table tbody tr {
  background: white !important; }
  .wp-list-table tbody tr > * {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    border-bottom: thin solid #F2F4F6; }

.woocommerce_options_panel .short,
.woocommerce_options_panel textarea {
  width: 100% !important; }

.woocommerce_options_panel textarea {
  height: 10em !important; }

img.help_tip {
  margin: 0 0 0 5px !important; }

.tablenav {
  height: auto !important;
  margin: 0 !important; }

.actions {
  padding: 15px !important;
  padding-left: 0 !important; }

.wp-filter {
  box-shadow: none !important; }
  .wp-filter .view-switch a.current:before {
    color: #4D5591 !important; }
  .wp-filter .search-form {
    line-height: 26px !important; }
    .wp-filter .search-form input[type="search"] {
      padding: 0 1em !important;
      font-size: 12px !important; }

.media-frame.mode-grid .media-toolbar-secondary > .media-button {
  margin-top: 13px; }

#wp-content-wrap #wp-content-editor-tools .wp-editor-tabs button {
  border-radius: 3px !important; }
  #wp-content-wrap #wp-content-editor-tools .wp-editor-tabs button:active, #wp-content-wrap #wp-content-editor-tools .wp-editor-tabs button:focus {
    color: white !important;
    border: thin solid #4D5591 !important;
    background-color: #4D5591 !important; }
#wp-content-wrap.tmce-active .wp-editor-tabs .switch-tmce {
  color: white !important;
  border: thin solid #4D5591 !important;
  background-color: #4D5591 !important; }
#wp-content-wrap.html-active .wp-editor-tabs .switch-html {
  color: white !important;
  border: thin solid #4D5591 !important;
  background-color: #4D5591 !important; }

#post-status-info {
  box-shadow: none !important; }

.wp-editor-expand div.mce-toolbar-grp {
  z-index: 500; }

.postbox {
  box-shadow: none !important; }

#wpadminbar {
  background: #242B37; }

#adminmenuback,
#adminmenuwrap,
#adminmenu {
  width: 180px;
  z-index: 900 !important;
  background: #364052;
  border-right: none; }

#adminmenuwrap * {
  transition-delay: 0;
  transition-duration: 0;
  transition-property: none;
  transition-timing-function: 0; }
#adminmenuwrap ul#adminmenu {
  margin: 0; }
  #adminmenuwrap ul#adminmenu li a {
    padding: 5px 2px !important; }
    #adminmenuwrap ul#adminmenu li a:after {
      display: none; }
    #adminmenuwrap ul#adminmenu li a .wp-menu-image:before {
      color: white; }
    #adminmenuwrap ul#adminmenu li a .wp-menu-name {
      padding-right: 0;
      color: white; }
  #adminmenuwrap ul#adminmenu li:after {
    display: none; }
  #adminmenuwrap ul#adminmenu li.current a, #adminmenuwrap ul#adminmenu li.wp-has-current-submenu a {
    background: #4D5591; }
    #adminmenuwrap ul#adminmenu li.current a .wp-menu-name, #adminmenuwrap ul#adminmenu li.wp-has-current-submenu a .wp-menu-name {
      font-weight: bold;
      color: white; }
  #adminmenuwrap ul#adminmenu li.wp-not-current-submenu ul.wp-submenu {
    left: 180px;
    box-shadow: none !important; }
  #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu {
    width: 180px;
    background: #242B37; }
    #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li {
      padding: 0px 10px; }
      #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a {
        padding: 6px 12px;
        color: #A1ACBF;
        background: transparent; }
        #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a.current {
          color: white; }
        #adminmenuwrap ul#adminmenu li.wp-has-submenu ul.wp-submenu li a:hover {
          color: white; }
  #adminmenuwrap ul#adminmenu li:hover a, #adminmenuwrap ul#adminmenu li:focus a {
    color: white;
    background: #4D5591; }
  #adminmenuwrap ul#adminmenu li.wp-menu-separator {
    height: 1px;
    margin: 0;
    background: #242B37; }

input,
select {
  box-shadow: none !important; }

input[type="search"] {
  height: 26px !important;
  margin-right: 5px !important;
  box-shadow: none !important;
  border-radius: 3px !important; }

input[type="text"].newtag {
  height: 26px !important; }

.button, .acf-button,
.add-new-h2 {
  height: 35px !important;
  padding: 0 28px !important;
  line-height: 35px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #e0e0e0 !important;
  border-radius: 3px !important; }
.welcome-panel-column .button{
  padding: 4px 40px !important;  
}
  .button:hover, .acf-button:hover,
  .add-new-h2:hover {
    color: white !important;
    background-color: #c0c0c0 !important; }
  .button.button-primary, .button-primary.acf-button,
  .button-primary.add-new-h2, .button.blue, .blue.acf-button,
  .blue.add-new-h2 {
    background-color: #4D5591 !important; }
    .button.button-primary:hover, .button-primary.acf-button:hover,
    .button-primary.add-new-h2:hover, .button.blue:hover, .blue.acf-button:hover,
    .blue.add-new-h2:hover {
      background-color: #121212 !important; }

.add-new-h2 {
  padding: 9px 40px !important;
  font-weight: normal !important; }

.actions .button, .actions .acf-button,
.actions .add-new-h2,
.search-box .button,
.search-box .acf-button,
.search-box .add-new-h2,
.wp-filter .button,
.wp-filter .acf-button,
.wp-filter .add-new-h2,
.button-small,
.tagadd {
  height: auto !important;
  padding: 0 10px !important;
  line-height: 26px !important;
  border-radius: 3px !important; }

select {
  margin: 0 !important;
  margin-right: 5px !important;
  max-width: none !important; }

#screen-meta-links .show-settings:after{
  vertical-align: middle;
}


#menu-management .menu-edit, 
#menu-settings-column .accordion-container, 
.comment-ays, 
.feature-filter, 
.imgedit-group, 
.manage-menus, 
.menu-item-handle, .popular-tags, 
.stuffbox, 
.widget-inside, 
.widget-top, 
.widgets-holder-wrap, 
.wp-editor-container, 
p.popular-tags, table.widefat{
  border-color: #E4E6E9;
}
.widefat thead td, .widefat thead th{
  border-bottom-color: #E4E6E9;
}
.widefat tfoot td, .widefat tfoot th{
  border-top-color: #E4E6E9;
}

.community-events li.event-none{

    border-left-color: #4D5591 ;
}

.wp-core-ui .button-primary-disabled, 
.wp-core-ui .button-primary.disabled, 
.wp-core-ui .button-primary:disabled, 
.wp-core-ui .button-primary[disabled]{

    background-color: #121212 !important;
    color: #FFF !important;
}


#menu-posts-services{
  background-color: #295270;
}
#menu-posts-samples{
  background-color: #344E72;
}
#menu-posts-tools{
  background-color: #3E4A73;
}
#menu-posts-reviews{
  background-color: #484674;
}
#menu-posts-features{ 
  background-color: #524175;
}


#adminmenuwrap ul#adminmenu li#menu-posts-services a .wp-menu-image:before,
#adminmenuwrap ul#adminmenu li#menu-posts-samples a .wp-menu-image:before,
#adminmenuwrap ul#adminmenu li#menu-posts-tools a .wp-menu-image:before,
#adminmenuwrap ul#adminmenu li#menu-posts-reviews a .wp-menu-image:before,
#adminmenuwrap ul#adminmenu li#menu-posts-features a .wp-menu-image:before{
    color: #83adfb;  
}

#wpcontent{
  padding-bottom: 60px;
}

#wpfooter{
  padding-left: 0
}